/*configuracion general*/
*{
    margin: 0;
    padding: 0;
}
body{
    background: $bere;
    font-family: 'Roboto', sans-serif;
    a{
        text-decoration: none;
    }
}
/*particulas canvas*/    
canvas{
	position: relative;
    margin-top: -44%;
    @media screen and (max-width: $mobileSmall) {
    	@include canvasResponsive();
    }
    @media screen and (max-width: $mobileMedium) {
    	@include canvasResponsive();
    }
    @media screen and (max-width: $mobileLarge) {
    	@include canvasResponsive();
    }
}
#particles-js {
	width: 100%;
	height: 100vh;
	position: relative;
}
/*Header - Nav*/
header.navBar{
    div.navbar-header{  
        button.navbar-toggle{
            border: none;
            background: transparent;
            &.collapse{
                border: none;
                background: transparent;
            }
            span.icon-bar{
                background-color: $cele;
            }
        }
    }
    div#bs-example-navbar-collapse-1{
        &.navbar-collapse.navbar-right.collapse.in{
            border-color:transparent;
        }
        ul{
            position: relative;
            float: right;
        }
    }
    /*transparencia a nav*/   
    nav.navbar.navbar-inverse.navbar-fixed-top{
        background-color: transparent;
        border-color:transparent;
    }
    #bs-example-navbar-collapse-1{
        ul{
            li{
                a{
                    color: $cele;
                }
            }
        }
    }
    ul.nav.navbar-nav{
        li{
            a{
                i.fa.fa-home.fa-2x:hover, i.fa.fa-user.fa-2x:hover,i.fa.fa-cog.fa-2x:hover,
                i.fa.fa-briefcase.fa-2x:hover,i.fa.fa-envelope.fa-2x:hover {
                    color: $amarillo;
                }
            }
        }
    }
}
/*BIENVENIDA*/
.bienvenida{
    div.container{
        div.row{
            /*vista desktop*/
            div.col-md-6{
                position:relative;
                /*imagen logo*/
                img{
                    position:relative;
                    z-index:2;
                    top: -8vh;
                    @media screen and (max-width: $mobileSmall) {
                        @include welcomeResponsive();
                    }
                    @media screen and (max-width: $mobileMedium) {
                        @include welcomeResponsive();
                    }
                    @media screen and (max-width: $mobileLarge) {
                        @include welcomeResponsive();
                    }
                }
                /*caja texto dinamico*/
                div.presentacion{
                    font-family: 'Anton', sans-serif;
                    color: $cele;
                    position: relative;
                    top: 25vh;
                    z-index: 1;
                    /*quitar palabra diseñadora*/
                    #designer{
                        @media screen and (max-width: $mobileSmall) {
                            display:none;
                        }
                        @media screen and (max-width: $mobileMedium) {
                            display:none;
                        }
                        @media screen and (max-width: $mobileLarge) {
                            display:none;
                        }
                    }
                }
            } 
        }
    }
    /*responsive caja transparente*/
    div#introMySelf.presentacion.col-xs-12.col-sm-12{
        @media screen and (max-width: $mobileSmall) {
            background-color:rgba(0, 0, 0, 0.3);
            @include presentResponsive();
            width: 94%;
            padding-bottom: 10%;
        }
        @media screen and (max-width: $mobileMedium) {
            background-color:rgba(0, 0, 0, 0.3);
            @include presentResponsive();
        }
        @media screen and (max-width: $mobileLarge) {
            background-color:rgba(0, 0, 0, 0.3);
            @include presentResponsive();
        }
        h2{
            @media screen and (max-width: $mobileSmall) {
                font-size: 20px;
            }
        }
    }
    div.row{
        .col-md-12.col-xs-12.col-sm-12{
            position:relative;
            z-index: 2;
            .redes.text-center{
                padding-left: 27%;
                position: relative;
                /*responsive iconos de contacto*/
                @media screen and (max-width: $mobileSmall) {
                    @include redesResponsive();
                        font-size: 20px;
                        top: 5vh;
                    }
                    @media screen and (max-width: $mobileMedium) {
                        @include redesResponsive();
                        top: 10vh;
                    }
                    @media screen and (max-width: $mobileLarge) {
                        @include redesResponsive();
                        top: 10vh;
                    }
                    ul{
                        text-decoration:none;
                        li{
                            position: relative;
                            display: inline-flex;
                            padding: 0 2%;
                            i{
                                font-size: 40px;
                                color: $cele;
                                &:hover{
                                    color: $amarillo;
                                }
                                @media screen and (max-width: $mobileSmall) {
                                    font-size: 30px;
                                }
                            }
                            a{
                                font-size: 20px;
                                color: $cele;
                                text-decoration:none;
                            }   
                        }
                    }
                }
            }
        }
    }
    
